<h1 class="App-header">My Recipes</h1>
<button id="add-recipe" (click)="toggleAddRecipeForm()"></button>
<form id="recipe-form" [formGroup]="newRecipeForm" *ngIf="isRecipeFormDisplayed" (ngSubmit)="addRecipeToRecipeList()">
  <input type="text" formControlName="newRecipeName" name="newRecipeName">
  <textarea name="newRecipeInstructions" formControlName="newRecipeInstructions" cols="30" rows="10"></textarea>
  <input type="submit">
</form>
<p>There are no recipes to list.</p>
<ul id="recipe-list">
  <li *ngFor="let recipe of recipeList">
    {{recipe.name}}
  </li>
</ul>